body{
    margin: 0;
    border: 0;
    padding: 0;
}

.clock_container{
    /*position: relative;*/
    display: flex;
    justify-content: center;
    /*align-items: flex-start;*/
    align-content: center;
    width: 80%;
    height: 80%;
    background: #eee;
    border-radius: 50%;
    padding: 20px;
    border: 20px solid #d9d9d9;
}

.right_handle{
    background: blue;
    height: 100px;
    width: 10px;
}
.left_handle{
    background: red;
    height: 100px;
    width: 10px;
}

.clock_hand{
    position: absolute;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    transform-origin: bottom;
}
.clock_hand_left{
    animation: leftHandlePositions;
}

.hourSpot {
    width: 150px;
    /*background: linear-gradient( to top, #eee 0%, #eee 80%, black 80%, black 100%);*/
    position: absolute;
    height: 40%;

    /*border: 1px solid red;*/
    transform-origin: bottom;

    display: flex;
    justify-content: space-around;
}

.hour_circle{
    /*border: 1px solid red;*/
    /*background-color: red;*/
    width: 50px;
    height: 50px;
    border-radius: 100%;

    font-size: 28px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    /*border-radius: 25px;*/
}

.red{
    background-color: lightcoral;
}
.yellow{
    background-color: lightyellow;
}
.blue{
    background-color: lightblue;
}
.green{
    background-color: lightgreen;
}
.purple{
    background-color: mediumpurple;
}
.pink{
    background-color: lightpink;
}
.locked{
    background-color: grey;
}