.red{
    background-color: lightcoral;
}
.yellow{
    background-color: lightyellow;
}
.blue{
    background-color: lightblue;
}
.green{
    background-color: lightgreen;
}
.purple{
    background-color: mediumpurple;
}
.pink{
    background-color: lightpink;
}
.locked{
    background-color: grey;
}