.red{
    background-color: lightcoral;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: lightblue;
}
.green{
    background-color: lightgreen;
}
.purple{
    background-color: mediumpurple;
}
.pink{
    background-color: lightpink;
}
.brown{
    background-color: sandybrown;
}
.beige{
    background-color: greenyellow;
}
.orange{
    background-color: orange;
}
.maroon{
    background-color: maroon;
}
.teal{
    background-color: teal;
}
.magenta{
    background-color: magenta;
}
.locked{
    background-color: grey;
}