.grid_main_container{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100vh calc(100vw - 100vh - 1px);
    /*grid-template-columns: 1fr 1fr;*/
}


.grid_main_left{
    grid-column: 1;

    /*border: 1px solid blue;*/
}
.grid_main_right{
    grid-column: 2;
    margin-left: 10%;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2fr 1fr 1fr 4fr;

    /*border: 1px solid red;*/
}

.grid_clock{
    /*display: none;*/

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.grid_timer{

    /*display: none;*/

    grid-column: 1/4;
    grid-row: 1;

    /*border: 1px solid red;*/
}
.grid_clicks{
    display: none;

    grid-column: 2;
    grid-row: 2;

    /*border: 1px solid red;*/
}
/*RIGHT SIDE*/
.grid_title{
    grid-column: 1/4;
    grid-row: 1;

    /*border: 1px solid blue;*/
}
.grid_difficulty{
    grid-column: 1/4;
    grid-row: 2;

    /*border: 1px solid blue;*/
}
.grid_control{
    grid-column: 1/4;
    grid-row: 3;

    /*border: 1px solid blue;*/
}
.grid_extra{
    grid-column: 1/4;
    grid-row: 4;

    /*border: 1px solid blue;*/
}