body{
    margin: 0;
    border: 0;
    padding: 0;
}

h1{
    color: red;
}
h3{
    color: black;
}

.main_container{
    width: 100vw;
    height: max-content;
    display: grid;

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px 80px;
}

.clock_hand_position_0{
    grid-column: 1;
    grid-row: 2;
}
.clock_hand_position_1{
    grid-column: 2;
    grid-row: 2;
}
.clock_hand_position_2{
    grid-column: 3;
    grid-row: 2;
}
.clock_hand_position_3{
    grid-column: 4;
    grid-row: 2;
}
.clock_hand_position_4{
    grid-column: 5;
    grid-row: 2;
}
.clock_hand_position_5{
    grid-column: 6;
    grid-row: 2;
}
.clock_hand_position_6{
    grid-column: 7;
    grid-row: 2;
}
.clock_hand_position_7{
    grid-column: 8;
    grid-row: 2;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.pink{
    background-color: pink;
}
.locked{
    background-color: grey;
}

.hourSpot{

    margin-left: auto;
    margin-right: auto;

    width: 80px;
    height: 80px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hourSpot > a {
    font-size: 26px;
    pointer-events: none;
}